.App {
  text-align: center;
}
.Form_Container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0% auto;
  border: 1px solid black;
}
.Project_Container {
  border: black solid 1px;
  width: 50%;
  margin: 0% auto;
}
#Form_Button {
  width: 25%;
  margin: 0% auto;
}
#Form_Input {
  font-size: 1.3rem;
  text-align: left;
  width: 90%;
  margin: 0% auto;
  padding: 1%;
  margin-block: 1%;
  border: 1px solid black;
  border-radius: 5rem;
}
#Form_Input-Date {
  display: block;
  font-size: 1rem;
  padding: 1%;
  text-align: center;
  width: 30%;
  margin: 0% auto;
  margin-block: 1%;
  border: 1px solid black;
  border-radius: 5rem;
}
img {
  box-sizing: border-box;
  width: 100%;
}
#Project-Description {
  padding-left: 2%;
  text-align: left;
}
#Project-Description_Title {
  padding-left: 2%;
  text-align: left;
  font-size: 1.5rem;
}
